---
import { Icon } from '@steeze-ui/svelte-icon';
import { ExternalLink } from '@steeze-ui/remix-icons';
---

<header class="w-full p-4">
  <nav class="w-full p-3 justify-between flex bg-slate-(lighten)-slate-900 rounded-xl">
    <a class="link">
      Linkedin
      <Icon src={ExternalLink} size="14px" />
    </a>
    <a class="btn">Contact Me</a>
  </nav>
</header>
