---
import Avatar from '../Avatar/Avatar.astro';
import Pills from '../Pills/Pills.svelte';
---

<section class="w-full">
  <div
    class="flex h-full flex-col gap-6 p-4 bg-slate-(lighten)-slate-900 items-center rounded-xl justify-center"
  >
    <Avatar />

    <article class="flex flex-col items-center gap-2">
      <h1 class="uppercase text-slate-500 font-bold">Franciszek Stodulski</h1>
      <span class="text-base-white text-4xl text-center">8+ years of Coding cool products</span>
      <Pills />
    </article>
  </div>
</section>
