---
import Avatar from '../Avatar/Avatar.astro';
import Pills from '../Pills/Pills.svelte';
---

<section
  class="flex w-full h-full flex-col gap-6 p-4 bg-slate-(lighten)-slate-900 items-center rounded-xl justify-center md:items-start"
>
  <Avatar />

  <article class="flex flex-col items-center md:items-start gap-2">
    <h1 class="uppercase text-slate-500 font-bold font-inter">Franciszek Stodulski</h1>
    <span class="text-base-white text-4xl text-center md:text-left font-syne">
      8+ years of Coding cool products
    </span>
    <Pills />
  </article>
</section>
